body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

#wrapper{
    position: relative;
    width: 1280px;
    height: 720px;
}

#video {
    position: absolute; 
    top: 0px; 
    left: 0px;
    transform: scaleX(-1);
}

#canvasDelauny {
    position: absolute; 
    top: 0px; 
    left: 0px;
    border: 0;
    opacity: 0.5;
    background-color: #000000;
}